[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "SimpylFold"]
	path = SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "docker"]
	path = docker
	url = https://github.com/docker/docker.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git

[submodule "vim/bundle/vim-python-test-runner"]
	path = vim/bundle/vim-python-test-runner
	url = https://github.com/bildzeitung/vim-python-test-runner.git
